* {
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 62.5%;
  background: rgb(41, 39, 52);
  /background: #000;
  border-left: ;
  margin: 0;
}

main {
  margin: 0 auto;
}

p {
  color: white;
  text-align: center;
  font-size: 3em;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  user-select: none;
}

canvas {
  float: left;
  width: 47.6vh;
  height: 100vh;
  display: block;
  margin: 0 auto;
  /*border-style: solid;
  border-width: 40px;
  -moz-border-image: url(resources/border.png) 50 repeat;
  -webkit-border-image: url(resources/border.png) 50 repeat;
  -o-border-image: url(resources/border.png) 50 repeat;
  border-image: url(resources/border.png) 50 fill repeat;
  border-top: 0;
  border-bottom: 0;*/
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
}

#scoretext {
  color: white;
  width: 47.6vh;
  height: 0;
  padding-left: 10px;
  margin: 10px auto 0;
  position: relative;
  font-size: 2.5em;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  user-select: none;
}

#screentext, #screentext2 {
  position: relative;
  color: white;
  text-align: center;
  font-size: 3em;
  width: 47.6vh;
  margin: 0 auto;
  top: 40%;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  user-select: none;
}

#screentext2 {
  font-size: 2em;
  margin-top: 8px;
}

#textdiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#buttondiv {
  height: 100vh;
  float: left;
}

#blockamounttext {
  position: relative;
  top: 30%;
}

#clickerbutton {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  transition-duration: 120ms;
  background: red;
  border: 0;
  position: relative;
  top: 30%;
}

#clickerbutton:hover {
  transform: scale(1.1);
}

#clickerbutton:active {
  border: 0;
  transform: scale(1);
}

#buttonlock {
  position: relative;
  margin: -102% 0 0 0;
  display: none;
}